<!-- Custom Head Extensions -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;600;700;900&family=DM+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&family=JetBrains+Mono:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "css/animations.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/cyberpunk.css" | relURL }}">
